header {
  background-color: white;
  color: #060A24;
  font-family: 'Montserrat';
  font-weight: 600;
  height: 100px;
  line-height: 22px;
  padding: 10px 5%;
  position: fixed;
  top: 0;
  width: 90%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: grid;
  align-items: center;
  justify-items: center;
}

header .crear {
  display: none;
}


header .crear:hover {
  background-color: #572EE5;
  color: white;
}

header .crear img {
  height: 14px;
  width: 8px;
  filter: brightness(1);
}

a .boton .crear {
  display: flex;
  align-self: center;
  justify-self: center;
}

header .crear:hover img {
  filter: brightness(7);
}

header img {
  float: left;
  font-family: 'Arial';
}

header nav {
  float: right;
}

header nav .menu ul {
  /*posicion absolute para que se posicione debajo del resto del header - top medida del header*/
  width: 100%;
  position: absolute;
  top: 110px;
  right: 0;
  overflow: hidden;
  list-style: none;
  background: rgba(87,46,229,0.90);
  height: 0px;
}

header nav .menu  ul li {
  position: relative;
}

header nav .menu  ul li:hover {
  background: #5a5a5a;
}

header nav .menu ul li a {
  position: relative;
  text-decoration: none;
  color: white;
  line-height: 28px;
}

header nav .menu  ul li a:hover {
  color: #fff;
} 

/*abrir el menu*/
header nav .menu #checkbox ~ ul {
  height: 300px;
  padding-top: 35px;
}

/*abrir el menu*/
header .ul {
  display: grid;
}

header nav .menu {
  padding-top: 3px;
  height: 60px;
  width: 60px;
  display: grid;
  justify-content: center;
  align-content: center;
}

header #checkbox img {
  display: flex;
  align-self: center;
  justify-self: center;
  height: 30px;
  width: 30px;
}

/* ------------------------ PC ------------------------ */

@media screen and (min-width: 1000px){

  header {
    height: 70px;
  }
  
  header ul {
    display: flex;
    align-items: center;
    justify-items: center;
  }

  header .crear {
    border: 1px solid #572EE5;
    background-color: white;
    font-family: 'Montserrat';
    color: #572EE5;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    border-radius: 25px;
  }

  header nav .menu ul {
    position: absolute;
    top: 20px;
    right: 3%;
    overflow: hidden;
    background: unset;
    height: unset;
    display: flex;
    justify-content: flex-end;
  }

  header nav .menu ul li {
    padding: 5px 10px;
    display: inline-block;
  }

  header nav .menu ul li:hover {
    background: unset;
    border-bottom: 2px solid #5ED7C6;
  } 

  header nav .menu ul li:last-child{
    background: unset;
    border-bottom: unset;
  }

  header nav .menu ul li a {
    position: relative;
    text-decoration: none;
    color: #572EE5;
    padding: unset;
    line-height: unset;
    display: flex;
  }

  header nav .menu ul li a:hover {
    color: #572EE5;
  } 

  header nav .menu input {
    display: flex;
    width: 60px;
    height: 60px;
    opacity: 0;
    z-index: 2;
  }

/*  header nav .menu span {
    display: none;
  }*/

  header #checkbox {
    display: none;
  }

  header .ul {
    display: flex;
    height: 0px;
    padding-top: 0px;
  }

  header nav .menu #checkbox ~ ul {
  height: unset;
  padding-top: unset;
  }
}