@import url("menu.css");

* {
	border: 0;
	box-shadow: none;
	margin: 0;
	outline-width: 0 !important;
	outline:none !important;
	padding: 0;
}

@media screen and (min-width: 768px) {

/* ------------------------ SECCION busqueda ------------------------ */

body {
	text-align: center;
}

}

.busqueda {
	font-family: 'Montserrat';
	color: #572EE5;
}

.busqueda h1 {
	font-size: 36px;
	letter-spacing: 0;
	line-height: 42px;
	margin-top: 29px;
}

#gif {
	color: #50E3C2;
}

.busqueda {
	margin: 100px 0px 0px 0px;
	display: grid;
	grid-template-columns: auto;
	justify-items: center;
	grid-template-rows: auto auto auto auto;
	grid-row-gap: 40px;
}

.busqueda #buscador_general {
	width: 551px;
	height: 100%;
	background: #FFFFFF;
	border-radius: 27px;
	border: 1px solid #572EE5;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
}

.busqueda #barra {
	display: flex;
	alignment-baseline: center;
  	justify-content: space-between;
}

.busqueda #lupa-close {
	
}

.busqueda #barra_busqueda {
	width: 100%;
	height: 30px;
	margin: 10px 0px 10px 0px;
}

.busqueda #linea {
	width: 100%;
	opacity: 0.5;
	border: 1px solid #9CAFC3;
	margin-bottom: 15px;
}

.busqueda li {
	margin: 0px 0px 10px 0px;
	list-style: none;
}

.busqueda li:last-child{
	margin-bottom: 15px;
}

.busqueda a {
	text-decoration: none;
}

.busqueda .lupa {
	padding-right: 20px;
	list-style: none;
}

/* ------------------------ SECCION favoritos ------------------------ */

.favoritos-misgifos {
	font-family: 'Montserrat';
	color: #572EE5;
	margin: 100px 0px 0px 0px;
	text-align: center;
}

.favoritos-misgifos .contenedor {
	display: grid;
	grid-gap: 29px;
	grid-template-columns: auto auto auto auto;
	justify-content: center;
}

.favoritos-misgifos .boton {
	width: 127px;
	height: 50px;
	border: 1px solid #572EE5;
	border-radius: 25px;
}

/* ------------------------ SECCION trending ------------------------ */

.trending {
	margin: auto 200px auto 200px;
	font-family: 'Montserrat';
	margin: 100px 0px 0px 0px;
	display: grid;
	grid-template-columns: auto;
	justify-items: center;
	grid-template-rows: auto auto auto;
	grid-row-gap: 30px;
}

.trending h3 {
	color: #572EE5;
	letter-spacing: 0;
	line-height: 42px;
	margin-top: 29px;
}

.trending p {
	font-family: 'Roboto';
}

.trending .contenedor {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-gap: 10px;
	justify-items: center;
}

.trending .flechas {
	width: 40px;
	height: 40px;
	border: 1px solid #572EE5;
	align-self: center;
}

/* ------------------------ SECCION resultado-busqueda ------------------------ */

.resultado-busqueda {
	font-family: 'Montserrat';
	color: #572EE5;
	margin: 50px 0px 0px 0px;
	display: grid;
	grid-template-columns: auto;
	justify-items: center;
	grid-template-rows: auto auto auto;
	grid-row-gap: 40px;
}

.resultado-busqueda #contenedor_resultado {
	display: grid;
	grid-gap: 29px;
	grid-template-columns: auto auto auto auto;
}

.resultado-busqueda .boton {
	width: 127px;
	height: 50px;
	border: 1px solid #572EE5;
	border-radius: 25px;
}

.sinresultado_contenedor {
	display: none;
	text-align: center;
}

.sinresultado_contenedor p {
	margin-top: 20px; 
	font-family: Montserrat;
	font-size: 22px;
	color: #50E3C2;
	text-align: center;
	line-height: 25px;
}

/* ------------------------ ELEMENTO cajagif ------------------------ */

.caja {
	position: relative;
	width: 100%;
	max-width: 200px;
	max-height: 200px;
	color: white;
}

.imagen {
	width: 190px;
	height: 150px;
}

.contenido {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
	background-color: #572EE5;
}

.caja:hover .contenido {
	opacity: 75%;
}

.icono {
	height: 36px;
	width: 36px;
	border-radius: 6px;
	background-color: white;
	display: flex;
	justify-content: center;
}

.icono:hover {
	color: white;
}

.icono_contenedor:hover {
	color: white;
}

/* ------------------------ SECCION creargif ------------------------ */

.creargif {
	font-family: 'Montserrat';
	color: #572EE5;
	display: grid;
	grid-template-columns: auto auto auto;
	margin: 100px 0px 0px 0px;
	text-align: center;
	justify-content: center;
}

.creargif h3 {
	letter-spacing: 0;
	line-height: 42px;
	margin-top: 29px;
}

.creargif p {
	font-family: 'Roboto';
	margin-top: 29px;
	color: black;
}

#gif {
	color: #50E3C2;
}

.creargif .contenedor {
	border: 1px solid #572EE5;
	width: 688px;
	height: 390px;
}

.creargif #nombre {
	width: 551px;
	height: 50px;
	background: #FFFFFF;
	border-radius: 27px;
	border: 1px solid #572EE5;
	padding-left: 50px;
}

.creargif .pasos {
	display: grid;
	grid-template-columns: auto auto auto;
	margin: 100px 0px 0px 0px;
	text-align: center;
	justify-content: center;
	grid-column-gap: 26px;
}

.creargif .numero {
	width: 32px;
	height: 32px;
	background: #FFFFFF;
	border-radius: 20px;
	border: 1px solid #572EE5;
}

.creargif .linea {
	border: 3px solid #572EE5;
	border-radius: 7px;
}

.creargif .boton {
	width: 127px;
	height: 50px;
	border: 1px solid #572EE5;
	border-radius: 25px;
}

/* ------------------------ SECCION maxgif ------------------------ */

.maxgif {
	visibility: hidden;
	position: fixed;
	background-color:rgba(255,255,255,0.95);
	opacity: 0.95;
	width: 100%;
	height: 100%;
	z-index: 1000;
	top: 0;
	}

.maxgif {
	font-family: 'Montserrat';
	color: #572EE5;
	text-align: center;
	display: grid;
	grid-gap: 29px;
	grid-template-columns: auto auto auto auto;
	justify-content: center;
	align-content: center;
}

.maxgif .contenedor {
	display: grid;
	grid-gap: 29px;
	grid-template-columns: auto auto auto auto;
}

.maxgif .icono {
	width: 36px;
	height: 36px;
	border: 1px solid #CED7E1;
	border-radius: 6px;
	display: flex;
	justify-content: center;
}

.maxgif .flechas {
	width: 40px;
	height: 40px;
	border: 1px solid #572EE5;
}

.maxgif .imagen {
	width: 600px;
	height: 400px;
}

/* ------------------------  FOOTER  ------------------------- */

footer {
	margin: 0px 100px 0px 100px;
	font-family: 'Roboto';
}

footer .contenedor {
	display: grid;
	grid-template-columns: auto auto;
  	align-items: center;
  	height: 95px;
  	justify-content: space-between;
}

footer .social {
	display: flex;
	justify-content: space-between;
	width: 232px;
}

footer p {
	color: #060A24;
	font-size: 14px;
	font-weight: 300;
	height: 28px;
	letter-spacing: 0;
	line-height: 22px;
	text-align: center;
	width: 100%;
}